<div class="center jumbotron">
  <h1>Welcome to CSC-517 Library</h1>

  <%= link_to "Sign up as user!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("library11.jpg", alt: "Library logo") %>
